.section_texto {
    background-color: rgba($color1, $alpha);
    font-size: $tamano1;
    margin: $valor2;
    
    span {
        text-decoration-line: $raya;
        
        &:hover {
            background-color: $verde;
            text-transform: $mayus;
            cursor: $cursor;
        }
    }
}

.section_ul_li {
    padding: $valor2;
    list-style-type: circle;
    list-style-position: inside;
  }

.section_ejemplo p, .section_ejemplo2 p {

    &:first-child {
        font-size: $tamano1;
        
        &:hover {
            text-transform: $mayus;
        }
    }
}

.section_ejemplo p img {
    width: $valor1;
    height: $valor1;
    margin-left: $valor2;

}

.section_ejemplo2 p img {
    width: $valor1;
    height: $valor1;
    margin-left: $valor2;
}

.section_float_box1 {
    background: #bbb;
}

.section_float_box2 {
    background: #ccc;
}

.section_float_box3 {
    background: #ddd;
}

.section_float_box1, .section_float_box2, .section_float_box3 {
    float: left;
    width: 33.33%;
    padding: 50px;
  }
  
  .section_float::after {
    clear: both;
    display: table;
  }
